{% extends 'layout.html' %}

{% block content %}
{% if not user %}
<!-- <h2>Welcome! Please log in.</h2>
<p><a href="/login">login</a></p> -->
<div class="bgimg-1-home">
    <div class="caption">
        <span class="border">Faça login para continuar!</span><br>
        <span class="border"><a href="/login">login</a></span><br>

    </div>
</div>
{% else %}
<header id="header">
    <nav id="nav">
         <a href="/logout">Logout</a>
    </nav>
</header>
<section id="section1">
    {% if resultado.type == 0 %}
    <div class="bgimg-1"
        style="background-image: url(https://raw.githubusercontent.com/moodfy/backend/dev/src/views/img/relax.jpg)">
        {% elif resultado.type == 1 %}
        <div class="bgimg-1" style="background-image: url(https://raw.githubusercontent.com/moodfy/backend/dev/src/views/img/sad.jpg)">
            {% elif resultado.type == 2 %}
            <div class="bgimg-1" style="background-image: url(https://raw.githubusercontent.com/moodfy/backend/dev/src/views/img/angry.jpg)">
                {% elif resultado.type == 3 %}
                <div class="bgimg-1"
                    style="background-image: url(https://raw.githubusercontent.com/moodfy/backend/dev/src/views/img/chill.jpg)">
                    {% else %}
                    <div class="bgimg-1"
                        style="background-image: url(https://raw.githubusercontent.com/moodfy/backend/dev/src/views/img/happy.jpg)">
                        {% endif %}
                        <div class="caption">
                            <span class="border"> {{resultado.frase }}</span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section1-frase">
        <canvas id="popChart" width="600" height="400"></canvas>
    </div>
</section>
<footer class="rodape">
    <p class="rodape">&copy; 2022 Copyright - <i></i> Moodfy</p>
</footer>

<script type="text/javascript">
    var popCanvas = document.getElementById("popChart");
    var body = {{ result | dump | safe }}
    var dataset = {{ dataset | dump | safe }}
    console.log(dataset)

    var popData = {
        datasets: dataset
    };

    var bubbleChart = new Chart(popCanvas, {
        type: 'bubble',
        data: {
            datasets: (function (body) {
                var out = [];
                for (var i = 0; i < body.length; i++) {
                    out.push({
                        label: body[i].label + ' - ' + body[i].album,
                        data: [{ r: body[i].r, x: body[i].x, y: body[i].y }],
                        backgroundColor: "rgba(153,255,51,0.6)"
                    });
                }
                return out;
            })(body)
        },
        options: {
            scales: {
                x:
                {
                    title:
                        { display: true, text: 'Valencia' }
                },
                y:
                {
                    title:
                        { display: true, text: 'Energia' }
                }
            }
        }
    });
</script>


{% endif %}
{% endblock %}